

.block-libraryguides h2 {
  font-size: 12px;
  background-color: #FFFFFF;
  color: #000000;
  padding: 2px;
  display: none;
}

#libraryguides-item {
  font-size: 11px;
  background-color: #FFFFFF;
  color: #68645B;
  padding: 3px;

}

#libraryguides-list {
  font-size: 12px;
  background-color: #FFFFFF;
  color: #68645B;
  padding: 3px;
  border-top: 1px solid #ccc;
}


.libraryguides-url {
  color: #68645B;
  background-color: #FFFFFF;
  font-style: oblique;
  text-align: right;
  padding-right: 3px;
}

.libraryguides-searchbox {
  color: #68645B;
  background-color: #FFFFFF;
  text-align: left;
  padding: 3px;
  margin-bottom: 5px;
}

.libraryguides-searchbox-border {
  color: #68645B;
  background-color: #FFFFFF;
  text-align: left;
  border: 1px solid #000;
  padding: 3px;
  margin-bottom: 5px;
}

.libraryguides-more {
  color: #68645B;
  background-color: #FFFFFF;
  border-top: 1px solid #ccc;
  font-style: oblique;
  text-align: right;
  padding-right: 3px;
}
