
.libraryguides_links {
   margin-bottom: 5px;
}

a:visited.libraryguides_link {
   font-size: 12px;

}

a:link.libraryguides_link {
   font-size: 12px;
}

.libraryguides_heading  {
  font-size: 12px;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #000000;
  padding: 3px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  margin-bottom: 5px;
}

#libraryguides-list {
  font-size: 12px;
  background-color: #FFFFFF;
  color: #68645B;
  padding: 3px;
  border-top: 1px solid #ccc;
}